@import url('https://font.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: 'Poppins',sans-serif;
}

.container
{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container .box
{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;

}
.content
{
    position: relative;
    padding: 20px;
}

.content h2
{
    position: absolute;
    top: -60px;
    right:20px;
    margin :0;
    padding: 0;
    color: rgba(255,255,255,0.05);
    font-size: 10em;
    transition: 0.5s;
}